@import "../../styles/breakpoints.scss";
@import "../../styles/vars.scss";

@mixin default {
  .main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2vh;
    overflow: scroll;
  }
}
.main::-webkit-scrollbar {
  width: 1vh;
}
.main::-webkit-scrollbar-track {
  background-color: $blue;
}
.main::-webkit-scrollbar-thumb {
  border-radius: 0.5vh;
  background-color: rgba($light-navy, 0.75);
}

//! desktop
@include media(">=tablet") {
  @include default();
  .main {
    overflow: scroll;
    max-height: 96vh;
    margin-top: 6vh;
  }
}

//! mobile
@include media("<=tablet") {
  @include default();
  .main {
    margin-top: 6vh;
  }
}
