@import "../../styles/breakpoints.scss";
@import "../../styles/vars.scss";

@mixin default {
  .main {
    background-color: $light-blue;
    border-radius: 1.5vh;
    place-self: center;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  .main:hover {
    transform: scale(1.05);
  }
}

//! desktop
@include media(">=tablet") {
  @include default();

  .main {
    width: 80%;
    height: 6rem;
  }
}

//! nobile
@include media("<=tablet") {
  @include default();

  .main {
    width: 90%;
    height: 4rem;
  }
}
