@import "../../styles/breakpoints.scss";
@import "../../styles/vars.scss";

@mixin default {
  .icon {
    width: 4rem;
    color: $navy;
    transition: transform 0.1s ease-in-out;
  }
  .icon:hover {
    transform: scale(1.04);
  }
}

//! desktop
@include media(">=tablet") {
  @include default();
}

//! nobile
@include media("<=tablet") {
  @include default();
}
