@import "../../styles/breakpoints.scss";
@import "../../styles/vars.scss";

.main {
  background-color: $light-blue;
  width: 70vh;
  height: 13vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
}

.icon_add {
  height: 10vh;
  width: 10vh;
  color: $blue;
}
.icon_tray {
  height: 6vh;
  color: $blue;
}
