@import "../../styles/breakpoints.scss";
@import "../../styles/vars.scss";

.main {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  font-family: "Roboto";
  h1 {
    color: $navy;
    font-size: x-large;
  }
}
.left {
  background-color: $blue;
}
.right {
  background-color: $light-blue;
}
