@import "../styles/breakpoints.scss";
@import "../styles/vars.scss";

.left {
  background-color: $blue;
}
.right {
  background-color: $light-blue;
}
.text {
  font-family: "Permanent Marker", cursive;
  color: rgba($light-blue, 0.7);
  text-shadow: 1px 4px 6px $blue, 0 0 0 #000, 1px 4px 6px $blue;
  margin-left: 20vh;
}
