@import "../../styles/breakpoints.scss";
@import "../../styles/vars.scss";

@mixin default {
  .main {
    width: 100%;
    height: 100vh;
    background-color: $blue;
    font-family: "Roboto";
  }
}

//! desktop
@include media(">=tablet") {
  @include default();
}

//! mobile
@include media("<=tablet") {
  @include default();
}
