@import "../../styles/breakpoints.scss";
@import "../../styles/vars.scss";

@mixin flexRule($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.main {
  background-color: $blue;
  font-family: "Roboto";
}

.circle {
  position: absolute;
  left: 7vh;
  top: 7vh;
  width: 30vh;
  height: 30vh;
  background-color: $light-blue;
  img,
  div {
    color: $navy;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 13vh;
    border: 0.7vh solid $blue;
  }
}
.circle_md {
  width: 15vh;
  height: 15vh;
  background-color: $light-blue;
  position: relative;
  top: 3vh;
  left: 42vh;
  @include flexRule();
  .icon {
    width: 10vh;
    color: $light-navy;
  }
}

.circle_sm {
  position: relative;
  top: 5vh;
  left: 40vh;
  right: 20vh;
  width: 10vh;
  height: 10vh;
  background-color: $light-blue;
  @include flexRule();
  .icon {
    width: 7vh;
    color: $light-navy;
  }
}

.tray_container {
  position: absolute;
  padding-top: 7vh;
  height: 100vw;
  top: 0;
  right: 0;
  div {
    margin-bottom: 5vh;
  }
}

.bluring_div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70vh;
  height: 7vh;
  backdrop-filter: blur(0.2vh);
}
